@media all and (max-width: 600px) {
    .HeroSec {
            
        align-items: center;
        margin-top: 3rem;
    }

    .leftContent {
        width: 100%;
    }

    .leftContent h2 {
        color: #92d362;
        width: 100%;
        text-align: center;
    }

    .rigthContent {
        display: none;
    }

    .heroImg {
        padding-top: 50px;
        height: max-content;
        width: 200px;
    }

    .contentWrapper {
        height: 20rem;
        align-items: flex-start;
        
    }


    div.handle{
        color:#92d362;
        font-size: 1000px;
        
    }


}